doctype html
html(ng-app="ServiceTest")
  head
    html.
      <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    title= title
    link(rel='stylesheet', href='stylesheets/dps/style.css')
    link(rel='stylesheet', href="stylesheets/dps/bootstrap.min.css")
    link(rel='stylesheet', href="javascripts/dps/bower_components/angularjs-datetime-picker/angularjs-datetime-picker.css")
    link(rel='stylesheet', href='stylesheets/dps/loading-bar.min.css')


    script(src='javascripts/dps/jquery.min.js')
    script(src='javascripts/dps/bootstrap.min.js')
    script(src='javascripts/dps/angular.min.js')
    script(src='javascripts/dps/Angular.js')
    script(src='javascripts/dps/bower_components/angularjs-datetime-picker/angularjs-datetime-picker.js')
    script(src='javascripts/dps/loading-bar.min.js')


  body
    block content
